.pointDiv {
}
.totalDivQuestions {
  /* display: flex; */
  /* margin: 50px auto;
    width: 1000px; */
  /* display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px; */
  display: flex;
  flex-direction: column;
}

.theme {
   color: white;
}

.btnPoint {
  cursor: not-allowed;
  opacity: 0.5;
}

.answerContainer {
  position: absolute;
  top: 200px;
  left: 1200px;
  background-color: white;
  width: 500px;
  height: 300px;
}
